.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-image: linear-gradient(to top, #5A98F2, #67C3F3);
  height: auto;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  z-index: 5;
  flex-wrap: wrap;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
}

.footer-nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.footer-nav li {
  /*margin-left: 1rem;*/
  /*margin-right: 1rem;*/
  flex-shrink: 0;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 3.75rem;
  margin: 0 1rem;
}

.footer-logo {
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 150px;
}

.footer-dots--top img, .footer-dots--bottom img {
  width: 7%;
}

.footer-dots--top {
  display: flex;
  position: absolute;
  justify-content: end;
  bottom: -260px;
  width: 100%;
}

.footer-dots--bottom {
  display: flex;
  width: 100%;
  position: relative;
}

.footer-dots--bottom img {
  position: absolute;
  top: 75px;
  left: -20px;
}
