body {
    font-family: "Roboto", "Arial", sans-serif;
    color: #233348;
}

.container {
    margin: 0;
    max-width: 1600px;
}

a {
    text-decoration: none;
    color: #1F1534;
}

li {
    display: block;
}