body {
    font-family: "Roboto", "Arial", sans-serif;
    color: #233348;
}

.container {
    margin: 0;
    max-width: 1600px;
}

a {
    text-decoration: none;
  color: rgb(177, 177, 177);

}

li {
    display: block;
}

.btn-primary {
  background-color: rgb(45, 169, 238);
}

.btn-secondary {
  background-color: rgb(242, 35, 35);
}


.create_container,
.edit_container {
  display: none;
  height: 700px;
}

.create_container.open,
.edit_container.open {
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
}

h1 {
  padding: 0 2rem;
}

h2 {
  align-self: center;
}

button {
  width: 7rem;
  height: 3rem;
  border: none;
  margin: 0 1.5rem;
  cursor: pointer;
}
