.main__container {
    display: flex;
}

.main__container.close {
    display: none;
}

.manager {
    box-shadow: rgba(194, 201, 209, 0.2) 5px 9px 24px;
    border-radius: 30px;
    margin-right: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
}

hr {
    width: 100%;
    text-align: center;
    border: none;
    border-top: 2px solid black;
    margin-bottom: 5px;
}

.manager,
.manager-orders {
    width: 400px;
    flex-direction: column;
    justify-content: space-around;
}

.manager-orders {
    justify-content: flex-start;
}

.add-form,
.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-block {
  display: flex;
  flex-direction: column;
}

.create-block * {
  margin: 0.5rem 0;
}

.desc {
    padding: 20px 10px;
    line-height: 28px;
}

.manager>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sort-goods h3 {
    margin: 0 2rem;
}

.count-price {
    flex-direction: column;
    margin-bottom: 300px;
}

.block_price {
    display: flex;
}

#count_price {
    margin-top: 10px;
}

.orders_list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item {
    margin-left: 20px;
    background-color: #b9dad78c;
    border: 2px solid rgb(118, 114, 114);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-form.close,
.edit-form.close {
  display: none;
}


.btn-download {
  background-color: white;
  color: #458FF6;
  border: 2px solid #458FF6;
  width: 150px;
  height: 56px;
  border-radius: 30px;
  font-size: 19px;
  margin-top: 30px;
}

.block_btn {
    display: flex;
    margin-bottom: 10px;
}

.btn_card {
    background-color: white;
    color: #458FF6;
    border: 2px solid #458FF6;
    width: 70px;
    height: 36px;
    border-radius: 30px;
}

.btn_card_cansel {
    background-color: rgb(250, 130, 130);
    border: 2px solid #550703;
    width: 70px;
    height: 36px;
    border-radius: 30px;
}

h4 {
    margin: 10px;
}
