@media screen and (max-width: 320px) {
  .main-nav {
    width: 320px;
  }

  .services-section {
    padding: 0.5rem;
  }

  .service-card {
    width: 90%;
    margin: 0.5rem 0;
    padding: 1rem;
    text-align: center;
    align-items: center;
  }

  .service-icon {
    margin-bottom: 1rem;
  }

  .service-title {
    font-size: 0.9rem;
  }

  .service-description {
    font-size: 0.8rem;
  }

  .services-cta .secondary-button {
    padding: 0.5rem 1.5rem;
    font-size: 0.85rem;
  }

  .hero-image,
  .providers-image {
    width: 100%;
  }

  .hero-section,
  .providers-section {
    margin-bottom: 60px;
  }

  .main-footer {
    flex-direction: column;
  }

  .main-footer ul {
    flex-direction: column;
  }

  .footer-nav li {
    margin: 0;
  }

  .footer-nav {
    flex-direction: column;
  }

  .footer-nav ul {
    flex-direction: column;
  }
}

@media screen and (max-width: 593px) {
  .services-grid {
    flex-direction: column;
    align-items: center;
  }

  .footer-dots--bottom {
    display: none;
  }

  .service-card {
    width: 100%;
    margin: 1rem 0;
  }

  .services-intro .section-title {
    font-size: 1.4rem;
    line-height: 2.25rem;
  }

  .services-intro .section-description {
    font-size: 0.85rem;
  }

  .main-footer ul {
    flex-direction: column;
  }

  .footer-link {
    font-size: 0.95rem;
    line-height: 2.5rem;
    margin: 0.5rem 0;
  }

  .footer-logo {
    max-width: 80px;
  }

  .footer-dots--top img,
  .footer-dots--bottom img {
    width: 10%;
  }

  .footer-dots--top {
    bottom: -100px;
  }

  .footer-dots--bottom img {
    width: 12%;
    top: 50px;
  }
}

@media screen and (max-width: 960px) {
  .burger__menu {
    display: flex;
  }

  .nav-item {
    display: none;
  }

  .main-nav ul {
    display: none;
  }

  .burger__navbar {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }

  #menu__toggle:checked ~ .burger__navbar {
    display: flex;
  }

  .burger__navbar li {
    margin: 10px 0;
  }

  .background-element,
  .background-dots {
    display: none;
  }

  .services-grid {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: 90%;
  }

  .services-intro .section-title {
    font-size: 1.65rem;
  }

  .services-intro .section-description {
    font-size: 0.95rem;
  }

  .hero-section {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .hero-image {
    margin-bottom: 2rem;
    width: 70%;
  }

  .hero-title,
  .hero-description {
    width: 100%;
  }

  .hero-content {
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
  }

  .providers-section {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .providers-image {
    margin-bottom: 2rem;
    width: 70%;
  }

  .providers-content {
    text-align: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 0;
  }

  .providers-content hr {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  .main-footer {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: auto;
  }

  .footer-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer-logo {
    margin: 1rem 0;
    max-width: 100px;
  }

  .footer-dots--top {
    bottom: -150px;
    justify-content: center;
  }

  .footer-dots--bottom img {
    width: 15%;
    left: 0;
    top: 0;
  }

  .footer-dots--bottom {
    justify-content: center;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  body.open {
    overflow-y: hidden;
  }
  #header {
    margin-top: 10px;
    z-index: 10;
    max-width: 100%;
    padding-top: 0;
    align-items: flex-start;
  }

  #header__menu__open {
    display: flex;
    margin-top: 5px;
    cursor: pointer;
    margin-right: auto;
    position: relative;
    right: 10px;
    z-index: 12;
  }
  #header__menu__open.open {
    display: none;
  }

  #header__menu__close {
    display: none;
    margin-top: 5px;
    cursor: pointer;
    position: fixed;
    z-index: 13;
  }
  #header__menu__close.open {
    display: flex;
    margin-top: 5px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    z-index: 12;
    overflow: hidden;
  }

  #header__nav {
    display: none;
  }

  #header__logo {
    margin-left: 7px;
    margin-right: 1px;
  }

  #header__nav.open ul {
    width: 100%;
    order: 1;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-left: 0;
  }

  #header__nav.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: start;
    z-index: 11;
    animation: slideIn 0.8s ease-out;
    animation-fill-mode: forwards;
  }
  #header__nav.hide ul {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-left: 0;
  }
  #header__nav.hide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    z-index: 11;
    animation: slideOut 1s ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  #header__nav a {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
  }

  #line {
    margin-top: 15px;
  }

  #header__login {
    width: 5rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  #header__register {
    width: 8rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
  }

  #active-page {
    margin-right: 0px;
    width: 100%;
    padding-right: 0;
    border-bottom: #202336;
    border-bottom: 3px solid #000;
    border-radius: 3px;
  }

  .not-active-page {
    text-decoration: none;
    width: 100%;
    padding-right: 0;
  }

  .header__nav-item {
    margin-bottom: 10px;
    font-size: 16px;
  }
  #log__reg {
    position: relative;
    right: -15px;
  }
  #space {
    display: none;
  }
}
@media screen and (max-width: 2559px) and (min-width: 961px) {
  .burger__menu {
    display: none;
  }

  .providers-content .section-divider {
    margin-left: 0;
  }

  .burger__navbar {
    position: static;
    display: none;
  }

  .main-header {
    max-width: 90%;
    margin: 0 auto;
  }

  .hero-section {
    max-width: 90%;
    margin: 0 auto;
  }

  .providers-section {
    max-width: 90%;
    margin: 0 auto;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1.2rem;
  }

  .cta-button {
    font-size: 1.3rem;
  }

  .section-title {
    font-size: 2.5rem;
  }

  .section-description {
    font-size: 1.2rem;
  }

  .service-title {
    font-size: 1.4rem;
  }

  .service-description {
    font-size: 1rem;
  }

  .footer-link {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1200px) {
  .services-grid {
    justify-content: center;
    gap: 20px;
    max-width: 1600px;
  }

  .service-card {
    flex: 1 0 300px;
  }

  .services-intro .section-title {
    font-size: 2.1rem;
    line-height: 3.5rem;
  }

  .services-intro .section-description {
    font-size: 1rem;
    line-height: 1.875rem;
  }
}


@media screen and (min-width: 1800px) {
  #header {
    transform: scale(1.42);
    padding-bottom: 100px;
  }
  #header__login:hover {
    background-color: #fb8f1d;
    color: #ffffff;
  }
  #header__register:hover {
    background-color: #ffffff;
    color: #fb8f1d;
    outline: 1px solid #fb8f1d;
  }
}
@media screen and (min-width: 2200px) {
  #header {
    padding-bottom: 100px;
    transform: scale(1.76);
    z-index: 10;
  }
  #header__login:hover {
    background-color: #fb8f1d;
    color: #ffffff;
  }
  #header__register:hover {
    background-color: #ffffff;
    color: #fb8f1d;
    border: 1px solid #fb8f1d;
  }
  #header__logo {
    margin-left: 10%;
  }
}

@media screen and (min-width: 2560px) {
  .burger__menu {
    display: none;
  }
  .header-container{
    padding-top: 64px;
  }

  .burger__navbar {
    position: static;
    display: none;
  }

  .main-header {
    max-width: 1600px;
    padding: 2rem 3rem;
    margin: 0 auto;
  }

  .main-nav {
    max-width: 1600px;
  }

  .logo img {
    max-width: 180px;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .nav-item {
    margin-left: 2.5rem;
  }

  .hero-section {
    padding: 4rem 6rem;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
  }

  .hero-title {
    font-size: 3rem;
    line-height: 5rem;
  }

  .hero-description {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .hero-image {
    width: 850px;
  }

  .cta-button {
    font-size: 1.4rem;
    padding: 1.25rem 3.5rem;
  }

  .providers-section {
    max-width: 1600px;
    justify-content: space-between;
    padding: 3rem 5rem;
  }

  .providers-image {
    width: 850px;
  }

  .providers-content {
    width: 550px;
  }

  .section-title {
    font-size: 3rem;
  }

  .section-description {
    font-size: 1.5rem;
  }

  .secondary-button {
    font-size: 1.4rem;
    padding: 1.25rem 3.5rem;
  }

  .services-section {
    max-width: 1600px;
    padding: 4rem 6rem;
  }

  .services-intro .section-title {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .services-intro .section-description {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .services-grid {
    width: 100%;
    gap: 2.5rem;
  }

  .service-card {
    max-width: 480px;
    padding: 2.5rem;
  }

  .service-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .service-description {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .main-footer {
    padding: 3rem 4rem;
    margin: 0 auto;
  }

  .footer-nav {
    max-width: 2000px;
  }

  .footer-logo {
    max-width: 180px;
  }

  .footer-link {
    font-size: 1.5rem;
    line-height: 3.5rem;
  }

  .footer-dots--top img,
  .footer-dots--bottom img {
    width: 10%;
  }

  .footer-dots--top {
    bottom: -300px;
  }

  .footer-dots--bottom img {
    top: 100px;
  }
}
