.providers-section {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 210px;
}

.providers-image {
    width: 700px;
}

.providers-image img {
    width: 100%;
}

.providers-content {
    width: 450px;
    margin-left: 150px;
}

.section-title {
    width: 100%;
    font-size: 2.25rem;
    font-weight: 3000;
    line-height: 1.3em;
    margin-right: 0 ;
}

.section-divider {
    border: none;
    border-top: 2px solid #000;
    width: 56px;
    align-items: start;
    margin-bottom: 30px;
    margin-top: 30px;
}


.section-description {
    font-size: 1.125rem;
    width: 90%;
    font-weight: 300;
    color: #7D7987;
    line-height: 1.5em;
    margin-right: 0;
    margin-bottom: 38px;
}

.secondary-button {
    width: 200px;
    height: 60px;
    font-weight: 700;
    font-size: 1.125rem;
    color: #458FF6;
    background: white;
    border: 2px solid #458FF6;
    border-radius: 55px;
    padding: 1rem 3.188rem;

}
