.about-us {
  padding: 40px;
  margin: auto;
  width: 90vw;
  margin-bottom: 5rem;
}

.about-us h2 {
  font-size: 5rem;
  line-height: 0.75;
  text-align: center;
  color: #212121;
}

.company-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.underline-purple {
  background-image: linear-gradient(to right, #4a00e0, #8e2de2);
  background-repeat: no-repeat;
  background-size: 100% 10%;
  background-position: 0 75%;
}

.underline-light_purple {
  background-image: linear-gradient(to right, #aaffa9, #11ffbd);
  background-repeat: no-repeat;
  background-size: 100% 10%;
  background-position: 0 75%;
}

.about-us__container_wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.about-us__row {
  display: flex;
  width: 100%;
}
