.faq-section {
  box-sizing: border-box;
  background-color: #212121;
  margin: auto;
  width: 90vw;
  color: white;
  border-radius: 32px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 40px;
  display: flex;
  position: relative;
  margin-top: 5rem;
}

.faq-contents {
  z-index: 1;
  width: 100%;
  max-width: none;
  grid-column-gap: 5%;
  grid-row-gap: 80px;
  flex-direction: row;
  flex: 1;
  align-items: stretch;
  display: flex;
  position: relative;
}

.faq-left {
  max-width: 440px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.faq-left h2 {
  font-size: 5rem;
  line-height: 1;
}

.faq-right {
  flex: 1;
}

.faq-wrapper {
  border-bottom: 1px solid #938e8e;
}

.faq-wrapper:last-child {
  border-bottom-style: none;
}