.faq-dropdown {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.2;
}

.faq-dropdown p {
  width: 80%;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 300;
}

.faq-toggle {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0 0;
  font-size: 2rem;
  line-height: 1.5;
  display: flex;
}

.faq-toggle div {
  font-family: 'Ramabhadra';
}