header {
  height: 80vh;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  background-image: url('../images/wp5052857.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

.header__text-box {
  margin-left: 1rem;
}

.header__text-box h1 {
  text-transform: uppercase;
  font-size: 20vh;
  line-height: 0.8;
  color: white;
  margin: 0 !important;
}

.header__text-box p {
  font-size: 2rem;
  font-family: 'Inter';
  color: white;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 2rem;
}
