/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.close-button, .go-to-cart-button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.close-button {
    background-color: #ccc;
}

.go-to-cart-button {
    background-color: #4CAF50;
    color: white;
}