.product-div {
    margin: auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.product-item {
    width: calc(25% - 1.5rem);
    min-width: 360px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-wrapper h2 {
    margin-top: 5rem;
    font-size: 5rem;
    line-height: 0.75;
    text-align: center;
    color: #212121;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}


.eachdiv {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2rem;
    border-radius: 0.8rem;
    height: 400px; /* Фіксована висота для однакових карток */
}

.img-box {
    margin-bottom: 1rem;
    flex-grow: 1;
}

.img-box img {
    border-radius: 0.8rem;
    width: 100%;
    max-height: 150px; /* Фіксована максимальна висота для зображень */
    object-fit: contain; /* Зображення масштабуватимуться без обрізки */
}

.det-box {
    text-align: center;
}

.det-box .name {
    font-size: 1.5rem;
    font-family: 'Inter';
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.det-box .description {
    font-size: 1.25rem;
    line-height: 1.2;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-2 {
    flex: 2;
}

.eachdiv {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-details {
    display: flex;
    margin-bottom: 0.5rem;
}

.img-box {
    margin-bottom: 1rem;
}

.img-box img {
    border-radius: 0.8rem;
    width: 100%;
}

.det-box .name {
    font-size: 1.5rem;
    font-family: 'Inter';
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
}

.det-box .description {
    font-size: 1.25rem;
    line-height: 1.2;
    text-align: center;
}

.view-more-btn {
    box-sizing: border-box;
    background-color: #212121;
    border: 4px solid #212121;
    color: white;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1.5rem;
    transition: all 0.1s ease-in;
    font-weight: 700;
}

.view-more-btn:hover {
    border: 4px solid #212121;
    background: rgba(255, 255, 255, 0.8);
    color: #212121;
}
